.App {
  text-align: center;
}

.bottom_navbar {
  display: flex;
  background-color: #2170e8;
}
.nav_link {
  color: #ffffff;
  text-decoration: none;
  flex-basis: 100%;
}
.nav_link.active {
  color: #ffffff;
  text-decoration: none;
}
.icon_bg {
  background-color: #2170e8;
}

.nav_link.active .icon_bg {
  background-color: #074198;
  border-radius: 3rem;
}

.fa_icon {
  padding: 0.4rem 1rem 0.4rem 1rem;
}
