.App {
  text-align: center;
}

.bottom_navbar {
  display: flex;
  background-color: #2170e8;
  font-family: "Titillium Web", sans-serif;
}
.nav_link {
  color: #ffffff;
  text-decoration: none;
  flex-basis: 100%;
}
.nav_link.active {
  color: #ffffff;
  text-decoration: none;
}
.icon_bg {
  background-color: #2170e8;
}

.nav_link.active .icon_bg {
  background-color: #074198;
  border-radius: 3rem;
}

.fa_icon {
  padding: 0.4rem 1rem 0.4rem 1rem;
}
.standings_h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.115rem;
}
.results_h2 {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.115rem;
  margin-right: 10%;
}

.results_dropdown {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.115rem;
  border: none;
  width: 50%;
}

.results_dropdown_date {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.115rem;
  border: none;
  width: 100%;
}
.results_dropdown:focus {
  outline: none;
}

.standings_item {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0 0.2rem 0;
}

.standings_item_circle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #e2e2e2;
  margin-right: 0.5rem;
}

.standings_item_name {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-right: 0.5rem;
  flex: 1;
}

.standings_item_points {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 1.2rem;
}

.top_header {
  padding: 0.4rem 0rem 0rem 0rem;
  font-size: 0.6rem;
}

.top_header_logo {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.top_header_title {
  letter-spacing: 0.115rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000000;
}

.standings_header {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  letter-spacing: 0.03rem;
}

.standings_dropdown {
  flex: 1;
  border: none;
}

.standings_dropdown:focus {
  outline: none;
}

.standings_dropdown_text {
  font-weight: 300;

  text-align: right;
  padding-right: 0.5rem;
}

.black_line {
  margin-top: -0.2rem;
  background-color: #000000;
  height: 1px;
}

.gold_circle {
  background-color: #ffb931;
  text-align: center;
}

.silver_circle {
  background-color: #aab1bf;
  text-align: center;
}

.bronze_circle {
  background-color: #d49337;
  text-align: center;
}

.vs_text {
  text-align: center;
}

.result_A {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 15px #57607144;
}

.result_sport {
  font-weight: 700;
  color: #384558;
  font-size: 1.2rem;
}

.result_date {
  font-weight: 600;
  color: #3a3e44;
  font-size: 0.9rem;
}

.vertical_line {
  color: #cad1e2;
}

.standings_item_name {
  font-weight: 500;
  color: #0036bf;
  font-size: 1.4rem;
}

.result_details {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.result_score_winner {
  font-weight: 700;
  color: #323439;
  font-size: 1.2rem;
}

.result_score_loser {
  font-weight: 700;
  color: #cad1e2;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.result_stage {
  background-color: #00c51f33;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  font-weight: 500;
  border-radius: 5px;
}

.result_sport_detail {
  font-weight: 500;
  color: #7a8088;
  font-size: 0.9rem;
}

.result_list_item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
